body {
  font-family: arial;
  background-color: #f9f9f9;
}
p {
  color: #333333;
}
body {
  font-family: arial;
  background-color: #f9f9f9;
}
p {
  color: #333333;
}
.contanir {
  width: 600px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Main-text {
  color: #333333;
  font-size: 32px;
  margin: 20px 10px;
  text-align: center;
  font-weight: bold;
}
.input-name,
.input-date {
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;

  border-radius: 10px;
  margin-right: 4px;
  height: 46px;
  margin: right 5px;
  border: solid 2px #cccccc;
}
.Add-button {
  color: white;
  border: none;
  background-color: #87ceeb;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
.delete-button,
.done-button {
  color: #ffffff;
  border: none;
  background-color: #ff6f61;
  width: 100px;
  border-radius: 10px;
}
.done-button {
  background-color: #61ff88;
}
.to-do-list,
.main-input {
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 1fr 1fr 100px;
  column-gap: 10px;
}
.to-do-list {
  grid-template-columns: 1fr 1fr 100px;
}

.text-1 {
  font-weight: 600;
}
.name-class {
  margin-left: 5px;
}
.date-class {
  text-align: center;
}
